
/* General */
body {
    background-color: cornsilk;
}
nav {
    width: 100%;
    height: 60px;
}
.wrapper {
    width: (100vw - 16px);
    height: 100vh;
}
/* my style */
.ls-debug {
    border: 1px solid red;
}
.ls-square {
    border: 2px solid black;
}
.ls-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.ls-blue {
    background-color: aqua;
}